* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeoDunggeunmo';
    /* font-family: 'Kita'; */
}

a {
    text-decoration: none;
    cursor: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}
#header {
    height: 35px;
    width: 100%;
    background-image: linear-gradient(rgb(159, 80, 190), rgb(217, 163, 219));
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
}
.logo {
}
.music {
    display: flex;
    align-items: center;
    padding-right: 10px;
    transition: all 0.3s;
}
.music:hover {
    color: rgb(88, 216, 14);
}
.music img {
    margin-right: 5px;
}
#musicIcon.rotate {
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: inline-block;
}

.icon img {
    width: 50%;
    margin: 0 auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.23) 6px 6px 0px);
    margin-bottom: 10px;
}

.icon .text {
    padding-top: 0.12em;
    font-size: 21px;
    padding-left: 5px;
    padding-right: 3px;
    color: rgb(255, 255, 255);
    border-radius: 0;
    background-color: rgb(132 68 185);
    box-shadow: rgb(0 0 0 / 23%) 6px 6px 0px 0px;
    transition: all 0.3s;
}
.icon:hover .text {
    color: rgb(88, 216, 14);
}
.react:hover .text {
    color: aqua;
} 
.musicBox {
    position: absolute;
    top: 50px; right: -500px;
    width: 400px;
    height: 700px;
    transition: all 0.5s ease-out;
}
.musicBox.jjan {
    right: -30px
}
.musicBox iframe {
    border: 0;
    width: 90%;
    height: 90%;
}
.musicBox.jjan iframe {
    position: absolute;
    width: 90%;
    height: 90%;
}
#clock {
    font-size: 16px;
}
.cardGame {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid #000;
    transition: all 0.4s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.cardGame iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.cardGame.jjan {
    animation: jjan 1s ease forwards;
}
.cardGame.close {
    animation: back 1s ease backwards;
}
.typingGame {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid #000;
    transition: all 0.4s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.typingGame iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.typingGame.jjan {
    animation: jjan 1s ease forwards;
}
.typingGame.close {
    animation: back 1s ease backwards;
}
.puzzleGame {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid #000;
    transition: all 0.4s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.puzzleGame iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.puzzleGame.jjan {
    animation: jjan 1s ease forwards;
}
.puzzleGame.close {
    animation: back 1s ease backwards;
}
.tetrisGame {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid #000;
    transition: all 0.4s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
.tetrisGame iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.tetrisGame.jjan {
    animation: jjan 1s ease forwards;
}
.tetrisGame.close {
    animation: back 1s ease backwards;
}

@keyframes jjan {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 1000px;
        height: 5px;
        opacity: 1;
    }
    100% {
        width: 1000px;
        height: 800px;
        opacity: 1;
        user-select: auto;
        pointer-events: auto;
    }
}
@keyframes back {
    0% {
        width: 1000px;
        height: 800px;
        opacity: 1;
    }
    50% {
        width: 1000px;
        height: 5px;
    }
    100% {
        width: 0;
        height: 0;
        opacity: 0;
        user-select: auto;
        pointer-events: auto;
    }
}
.close {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    position: absolute;
    right: -2px;
}
.cursor {
    position: absolute;
    left: 0; top: 0;
    z-index: 100;
    width: 25px;
    user-select: none;
    pointer-events: none;
}

.memoryBox {
    width: 700px;
    height: 700px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0, 0, 0, 0.17);
}
.iconBoX {
    position: absolute;
    left: 20px; top: 50px;
}
.iconBox2 {
    position: absolute;
    left: 15px; top: 180px;
}