body {
  background-color: #efeeea;
}

/* HEADER */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#header h1 {
  color: #000;
  font-size: 2vw;
  font-family: "Abel";
}

/* LAYOUT */

/* SECTION1 */
#section1 {
  height: 100vh;
  position: relative;
}

#sec1_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0.4;
}

.sec1_text {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-family: "Saint Monica";
  font-size: 7vw;
  line-height: 0.9;
  white-space: nowrap;
  color: #000;
  z-index: 20;
}

.sec1_text .t1 {
}

.sec1_text .t2 {
  padding-left: 8vw;
}

.sec1_text .t3 {
  padding-left: 4vw;
}

.sec1_text .t4 {
  color: #749df0;
}

#section1 .sec1_img {
  position: absolute;
  left: 78%;
  top: 62%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
  z-index: 20;
}

.sec1_desc {
  position: absolute;
  left: 68%;
  top: 83%;
  transform: translate(-50%, -50%);
  width: 30%;
  font-family: "IropkeBatang";
  font-size: 1vw;
  line-height: 1.6;
  color: #000;
  white-space: nowrap;
}

/* SECTION2 */
#section2 {
  margin-top: 30vh;
  padding: 0px 10vw;
  height: 100vh;
}

#section2 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section2 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section2 .title {
  text-align: center;
  font-family: "ChosunNm";
  font-size: 2rem;
  line-height: 1.1;
  color: #000;
  padding: 0 4vw 6vw;
}

#section2 .title span {
  color: #749df0;
}

/* #section2 a {
  border: 1px solid rgb(181, 181, 181);
  padding: 15px 50px;
  border-radius: 30px;
  color: rgb(20, 20, 20);
  font-family: "ChosunNm";
  text-align: center;
  font-size: 1em;
  margin-top: 5vw;
  transition: background-color 0.5s ease 0s;
} */
#section2 img {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: relative;
  object-fit: cover;
  margin-top: 5vw;
}

/* SECTION3 */
#section3 {
  height: 100vh;
}

#section3 .sec3 {
  padding: 0px 10vw;
}

#section3 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section3 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section3 .title .part .box {
  position: relative;
  color: #000;
  font-size: 4vw;
  font-family: "Saint Monica";
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: scrollm 12s linear infinite;
}

#section3 .title .part2 .box {
  position: relative;
  color: #000;
  font-size: 4vw;
  font-family: "GmarketSans";
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: scrollm 12s linear infinite reverse;
}

@keyframes scrollm {
  100% {
    text-indent: -22em;
  }
}

@keyframes scroll {
  100% {
    text-indent: -60em;
  }
}

/* section4 */
#section4 {
  height: 200vh;
  padding: 0px 10vw;
}

#section4 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section4 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section4 .title {
  position: relative;
  padding: 0 10vh 0 10vh;
}

#section4 .title img {
  width: 100%;
  height: 400px;
}

#section4 p {
  color: #000;
  font-family: "GmarketSans";
  padding-top: 1vw;
}

#section4 h2 {
  color: #000;
  font-family: "Saint Monica";
  padding-top: 1vw;
  font-size: 4vw;
  letter-spacing: 3px;
  font-weight: normal;
}

#section4 .title .btn a {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-size: 1vw;
  font-weight: 300;
  font-family: "GmarketSans";
  text-align: center;
  line-height: 5;
  border: 1px solid #000;
  background: #000;
  opacity: 0.5;
  top: 36%;
  left: 85%;
}

#section4 .title .btn2 a {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-size: 1vw;
  font-weight: 300;
  font-family: "GmarketSans";
  text-align: center;
  line-height: 5;
  border: 1px solid #000;
  background: #000;
  opacity: 0.5;
  top: 86%;
  left: 85%;
}

#section4 img {
  padding: 1vw 0 2vw 0;
}

/* section5 */
#section5 {
  height: 250vh;
  padding: 0px 10vw;
}

#section5 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section5 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section5 .title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#section5 .title .imgcont .text {
  display: flex;
}

#section5 .title .imgcont .text h2 {
  color: #000;
  font-family: "GmarketSans";
  font-style: normal;
  font-size: 6vh;
  font-weight: 300;
  line-height: 1.8;
}

#section5 .title .imgcont .text .nom {
  color: #000;
  font-size: 15vh;
  font-family: "Poppins";
  font-weight: 100;
}

#section5 img {
  width: 680px;
  height: 280px;
}

/* section6 */
#section6 {
  height: 170vh;
}

#section6 .sec6 {
  padding: 0px 10vw;
}

#section6 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section6 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section6 .title {
  position: relative;
  color: #000;
  font-family: "GmarketSans";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
}

#section6 .title .lavender {
  color: #749df0;
}

#section6 img {
  position: relative;
  margin-top: 5vh;
}

/* section7 */
#section7 {
  height: 50vh;
  padding: 0px 10vw;
}

#section7 .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section7 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section7 .title {
  display: flex;
  position: relative;
  color: #000;
  font-family: "GmarketSans";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10vh;
}

#section7 .title h2 {
  color: #000;
}

#section7 .title .lavender {
  color: #749df0;
}

/* footer */
#footer {
  height: 20vh;
  padding: 0px 10vw;
}

#footer .hadeline {
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#footer .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#footer .title {
  display: flex;
  position: relative;
  color: #000;
  font-family: "ChosunNm";
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

#footer figure {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 1vw;
  font-family: "ChosunNm";
  padding-top: 4vh;
  font-weight: 100;
}

/* mediaquery */
/* 1920 1200 768 480 */

/* 화면너비 0-1024px */
/* @media (max-width: 1024px) {
  .sec1_text {
    font-size: 6.5vw;
  }

  .pro_desc {
        align-items: flex-start;
        flex-direction: column;
    }

    #section4 {height: 700vh}
    .script_cont {width: 85%}
    .script_wrap {width: 65%; height: 460px}
    .script_desc {width: 30%}

    .sec5 {padding: 120px 0}
    .ani_wrap {height: 350px}

    .coding_desc p {margin-bottom: 25px}

    .comment-list div {width: 32%}

    .footer .desc {font-size: 25px}
    .f_left figure {width: 90%}
} */

/* 화면너비 0-768px */
/* @media (max-width: 768px) {
  .sec1_img {
    margin-top: 5%;
  }
  .sec1_img img {
    width: 160px;
    height: 200px;
  }
  .sec1_text .t2 {
    padding-left: 0;
  }
  .sec1_text .t3 {
    padding-left: 0;
  }
  .sec1_desc {
    left: 35%;
    top: 70%;
  }
} */

/* 화면너비 0-600px */
/* @media (max-width: 600px) {
  .sec1_img {
    margin-top: 10%;
  }
  .sec1_img img {
    margin-left: -240%;
    margin-top: 75%;
  }
  .sec1_desc {
    margin-top: 23%;
    left: 34%;
    top: 84%;
  }
} */

/* 화면너비 0-480px */
@media (max-width: 480px) {
}

/* 화면너비 0-320px */
@media (max-width: 320px) {
}
