
body {


  background-color: #efeeea;

  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}


.line .headline {
  margin-top: 1vw;
  letter-spacing: 0.2vh;
  text-align: center;
  font-size: 1vw;
  font-family: "Roboto";
  color: #787775;
  position: relative;
}

.line .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  margin-left: 10%;
  width: 80%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
  position: relative;
}

/* HEADER */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#header h1 {
  color: #000;
  font-size: 2vw;
  font-family: "Abel";
}

/* SECTION1 */
#section1 {
  height: 100vh;
  position: relative;
  display: flex;
}

#sec1_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0.4;
}

.sec1_text {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-family: "Saint Monica";
  font-size: 7vw;
  line-height: 0.9;
  white-space: nowrap;
  color: #000;
  z-index: 20;

  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

/* text effect */

:root {
  --base-delay: 0.5;
  --reveal-speed: 0.5;
  --stagger: 0.1;
}

.sec1_text span {
  -webkit-animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
          animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
  overflow: hidden;
  position: relative;
}
.sec1_text span:after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color, #1e90ff);
  position: absolute;
  -webkit-animation: sec1_text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
          animation: sec1_text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;    
}
@-webkit-keyframes sec1_text {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@keyframes sec1_text {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@-webkit-keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: #000;
  }
}
@keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: #000;
  }
}








.sec1_text .t1 {
  
}

.sec1_text .t2 {
  transform: rotateX(101%);
  margin-left: 8vw;
}

.sec1_text .t3 {
  margin-left: 4vw;
}

.sec1_text .t4 {
  color: #749df0;
}

#section1 .sec1_img {
  position: relative;
  left: 75%;
  top: 94%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
  z-index: 20;
}


.sec1_desc p {
  position: absolute;
  left: 65%;
  top: 93%;
  transform: translate(-50%, -50%);
  width: 30%;
  font-family: "IropkeBatang";
  font-size: 1vw;
  line-height: 1.6;
  color: #000;
  white-space: nowrap;
}

/* SECTION2 */
#section2 .sec2 {
  margin-top: 20vh;
  height: 100vh;
}

#section2 .headline {
  text-align: center;
  font-size: 1vw;
  font-family: "Roboto";
  letter-spacing: 0.2vh;
  color: #787775;
}

#section2 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  margin-left: 10%;
  width: 80%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section2 .title {
  text-align: center;
  padding: 0 14vw 6vw;
}
#section2 .title p {
  line-height: 1.4;
  font-size: 4vh;
  font-weight: 100;
  color: #000;
  font-family: "ChosunNm";
}

#section2 .title span {
  color: #749df0;
}

/* #section2 a {
  border: 1px solid rgb(181, 181, 181);
  padding: 15px 50px;
  border-radius: 30px;
  color: rgb(20, 20, 20);
  font-family: "ChosunNm";
  text-align: center;
  font-size: 1em;
  margin-top: 5vw;
  transition: background-color 0.5s ease 0s;
} */
#section2 img {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: relative;
  object-fit: cover;
  margin-top: 5vw;
}

/* SECTION3 */
#section3 {
  /* white-space: nowrap;
  overflow: hidden;
  height: 50vh !important; */
}

#section3 a {
  height: 20px;
}
#section3 .sec3 {
  height: 50vh !important;
}
#section3 .title {
  /* width: 1920px; */
  /* top: 50%; */
  position: relative;
}

#section3 .title .part .box {
  position: relative;
  color: #000;
  font-size: 4.5vw;
  font-family: "Saint Monica";
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: scrollm 9s linear infinite;
}

#section3 .title .part2 .box {
  position: relative;
  color: #000;
  font-size: 4vw;
  font-family: "GmarketSans";
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: scrollm 9s linear infinite reverse;
}

@keyframes scrollm {
  100% {
    text-indent: -22em;
  }
}

/* section5 */
#section5 {
  height: 200vh;
  padding: 0px 10vw;
}

#section5 .headline {
  margin-top: 6vw;
  letter-spacing: 0.2vh;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section5 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section5 .title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#section5 .title .imgcont .text {
  display: flex;
}

#section5 .title .imgcont .text h2 {
  color: #000;
  font-family: "GmarketSans";
  font-style: normal;
  font-size: 5vh;
  font-weight: 300;
  line-height: 1.8;
}

#section5 .title .imgcont .text .nom {
  color: #000;
  font-size: 15vh;
  font-family: "Poppins";
  font-weight: 100;
}

#section5 img {
  width: 680px;
  height: 280px;
}
/* section6 */
#section6 {
  height: 170vh;
}

#section6 .sec6 {
  padding: 0px 10vw;
}

#section6 .headline {
  letter-spacing: 0.2vh;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section6 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section6 .title {
  position: relative;
  color: #000;
  font-family: "GmarketSans";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
}

#section6 .title .lavender {
  color: #749df0;
}

#section6 img {
  position: relative;
  margin-top: 5vh;
}

/* section7 */
#section7 {
  height: 50vh;
  padding: 0px 10vw;
}

#section7 .headline {
  letter-spacing: 0.2vh;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#section7 .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#section7 .title {
  display: flex;
  position: relative;
  color: #000;
  font-family: "GmarketSans";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10vh;
}

#section7 .title h2 {
  color: #000;
}

#section7 .title .lavender {
  color: #749df0;
}

/* footer */
#footer {
  height: 20vh;
  padding: 0px 10vw;
}

#footer .headline {
  letter-spacing: 0.2vh;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto";
  color: #787775;
}

#footer .separator {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
}

#footer .title {
  display: flex;
  position: relative;
  color: #000;
  font-family: "ChosunNm";
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

#footer figure {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 1vw;
  font-family: "ChosunNm";
  padding-top: 4vh;
  font-weight: 100;
}






/* 가로모드 */
section:not(#sectionPin) {
  /* min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center; */
}

.pin-wrap img {
  height: 100vh;
  width: auto;
  object-fit: none;
}
.pin-wrap h2 {
  font-family: 'SCoreDream';
  color: #000;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 4;
  overflow-wrap: break-word;
  hyphens: auto;
} */

@media (max-width: 768px) {
  h1 {
    font-size: 16vw;
  }
}

h1 span {
  display: block;
}

h2 {
  font-size: 2rem;
  max-width: 400px;
}

.credit {
  font-family: Termina, sans-serif;
}

.credit a {
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap>* {
  min-width: 60vw;
  padding: 0 5vw;
}

/* p {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
} */

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.box {
  -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
  display: none;
}

