body {
    background-color: #efeeea;
}
/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
}

  :root {
    --base-delay: 0.5;
    --reveal-speed: 0.5;
    --stagger: 0.1;
  }
  
  #header a {
    color: #000;
    font-size: 24px;
    font-family: "Saint Monica";
    -webkit-animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
            animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
    overflow: hidden;
    position: relative;
  }
  #header a:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color, #1e90ff);
    position: absolute;
    -webkit-animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
            animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
  }
  @-webkit-keyframes block-reveal {
    0% {
      transform: translate(-110%, 0);
    }
    45%, 55% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(110%, 0);
    }
  }
  @keyframes block-reveal {
    0% {
      transform: translate(-110%, 0);
    }
    45%, 55% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(110%, 0);
    }
  }
  @-webkit-keyframes show-text {
    0% {
      color: transparent;
    }
    50%, 100% {
      color: #000;
    }
  }
  @keyframes show-text {
    0% {
      color: transparent;
    }
    50%, 100% {
      color: #000;
    }
  }
  /* //header */

/* section1 */
#section1 .sec1_wrap .slides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 165vh;
}

#section1 .sec1_wrap .slide {
    position: relative;
    width: 19%;
}

@media (max-width: 780px) {
    #section1 .sec1_wrap .slide {
        width: 15%;
    }
}

@media (max-width: 450px) {
    #section1 .sec1_wrap .slide {
        width: 15%;
        position: absolute;
        left: 42%;
        top: 165vh;
    }
}

#section1 .sec1_wrap .canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 .sec1_wrap .plane {
    padding-top: calc(64000% / 382);
    cursor: pointer;
}

#section1 .sec1_wrap .plane img {
    display: none;
}

#section1 .slides figure figcaption {
    font-family: "Saint Monica";
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 3vw;
    opacity: 1;
    z-index: 3;
    padding-bottom: 1vw;
    letter-spacing: 0.1em;
    line-height: 0.5;
}

.sec1-1 {
    height: 100vh;
    position: relative;
}

.sec1_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background: #000; */
    z-index: 10;
    opacity: 0.4;
}

.sec1_text {
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-family: "Saint Monica";
    font-size: 7vw;
    line-height: .91;
    white-space: nowrap;
    color: #000;
    z-index: 20;
}

.sec1_text .t2 {
    padding-left: 8vw;
}

.sec1_text .t3 {
    padding-left: 4vw;
}

.sec1_text .t4 {
    color: #749DF0
}

.sec1_img {
    position: absolute;
    left: 56%;
    top: 49%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 26vh;
    overflow: hidden;
}

.sec1_desc {
    position: absolute;
    left: 47%;
    top: 79%;
    transform: translate(-50%, -50%);
    width: 30%;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    color: #222;
    white-space: nowrap;
}

/* sec1-2 */
.sec1-2 {
    height: 130vh;
    padding: 200px 0;
    text-align: center;
}

.sec1-2 h2 {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.sec1-2 p {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: 2vw;
    line-height: 1.6;
    color: #000;
}

.sec1-2 p em {
    color: #749DF0
}

.sec1-2 .img {
    margin: 0 auto;
    padding-top: 5vw;
}

.sec1-2 .img img {
    object-fit: cover;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

/* sec1-3 */
.sec1-3 {
    width: 100%;
    overflow: hidden;
    padding: 200px 0;
    text-align: center;
    height: 100vh;
}

.sec1-3 h2 {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.sec1-3 .line {
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

.sec1-3>p {
    font-size: 5vw;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: -20vw;
}

.sec1-3 .line1 {
    font-size: 5.3vw;
    font-family: "Saint Monica";
}

.sec1-3 .line2 {
    font-family: 'GmarketSans';
    font-weight: 300;
}

/* sec1-4 */
.sec1-4 {
    margin-top: -10%;
}
.sec1-4 h2 {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
}
.sec1-4 h1 {
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
}
.sec1-4 .line {
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.5;
    padding-bottom: 1%;
    margin-bottom: 3%;
}
.sec1-4 .desc {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.sec1-4 p {
    font-family: 'GmarketSans';
    font-weight: bold;
    font-size: 5vh;
    opacity: 0.5;
    line-height: 0;
}
.sec1-4 span {
    font-family: 'Saint Monica';
    font-weight: 400;
    font-size: 5vw;
    padding-left: 1vh;
    padding-top: 1vh;
}

#section1 .pro01 {
    width: 70vw;
    height: 25vw;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
}

#section1 .pro01 h2{
    font-family: 'GmarketSans';
    font-size: 6vw;
    color: #000000;
    line-height: 98%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform:translate(-50%,-50%);
    transition: all 0.5s;
}
#section1 .pro01 .num {
    font-family: 'GmarketSans';
    font-size: 1.75vw;
    color: #7B9FF0;
    position: absolute;
    left: 2%;
    top: 20%;
    transform:translate(-50%,-50%);
    transition: all 0.5s;
}

#section1 .pro01:hover h2 {
    left: 18%;
    color: #ffffff;
    text-shadow: none;  
}
#section1 .pro01:hover .num {
    left: -10%;
}

#section1 .pro__cont {
    opacity: 0;
    pointer-events: none;
}
  
#section1 .pro01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    height: 10vw;
    overflow: hidden;
}
#section1 .pro01:hover {
    overflow: visible;
}
  
#section1 .pro01:last-child {
    border-bottom: 1px solid #000;
}

#section1 .container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
  
#section1 .pro01-image_wrap {
    position: absolute;
    width: 380px;
    height: 380px;
    pointer-events: none;
    opacity: 0;
}
#section1 .pro01-image_wrap {
    position: absolute;
    width: 380px;
    height: 380px;
    pointer-events: none;
    opacity: 0;
}
  
#section1 .pro01-image_inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* #section1 .pro01-image_inner .pro01-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#section1 .pro01-image_inner .pro__item01 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #78C63B;
}
#section1 .pro01-image_inner .pro__item02 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #3b9cc6;
}
#section1 .pro01-image_inner .pro__item03 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #d751d9;
}
#section1 .pro01-image_inner .pro__item04 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #d9ac51;
}
#section1 .pro01-image_inner .pro__item05 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #d9ac51;
} */
  
#section1 .pro01-text {
    position: relative;
    color: #000;
    padding: 2vh 0;
    opacity: 1;
    transition: opacity 350ms ease;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 100vw;
    height: 30vw;
    font-size: 6vw;
    line-height: 98%;
}

#section1 .pro01-innertext {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 55%;
    transform:translate(-50%,-50%);
    transition: left 0.5s ease;
    transition: all 0.5s;
}
#section1 .pro01-innertext :first-child {
    left: 42%;
}
#section1 .pro01-innertext-num {
    position: absolute;
    display: inline-block;
    left: 12%;
    top: 20%;
    transform:translate(-50%,-50%);
    transition: all 0.5s;
    font-size: 1.75vw;
    text-shadow: none;
    color: #000;
}

  
#section1 .pro01-text:hover .pro01-innertext {
    position: absolute;
    left: 23%;
    text-shadow: none;
    color: #7B9FF0;
}
#section1 .pro01-text:hover .pro01-innertext-num {
    position: absolute;
    left: 8%;
    text-shadow: none;
    color: #7B9FF0;
}
  
  
/* #section1 .pro01-image_inner .pro__item01 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* section2 */
#section2 {
}

#section2 .desc {
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 5%;
}
#section2 h2 {
    font-family: "Saint Monica";
    font-size: 42vh;
    letter-spacing: 0.5;
    line-height: 1;
}
#section2 p {
    font-family: "Saint Monica";
    color: #000;
    font-size: 8vh;
}

#section2 iframe {
    position: relative;
    top: -40%;
    left: 45%;
    width: 40%;
    height: 70%;
    background-color: none;
}

/* #sec2-2 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    height: -webkit-fill-available;
} */



/* section3 */
#section3 {
    height: 100vh;
    padding: 0px 10vw;
  }
  
  #section3 .headline {
    letter-spacing: 0.2vh;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    color: #787775;
  }
  
  #section3 .separator {
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0.2;
  }
  
  #section3 .title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  
  #section3 .title .imgcont .text {
    display: flex;
  }
  
  #section3 .title .imgcont .text h2 {
    color: #000;
    font-family: "GmarketSans";
    font-style: normal;
    font-size: 6vh;
    font-weight: 300;
    line-height: 1.8;
  }
  
  #section3 .title .imgcont .text .nom {
    color: #000;
    font-size: 15vh;
    font-family: "Poppins";
    font-weight: 100;
  }
  
  #section3 img {
    width: 680px;
    height: 280px;
  }



/* section4 */
#section4 {
    height: 100vh;
  }
  
  #section4 .sec4 {
    padding: 5vh 10vw;
  }
  
  #section4 .headline {
    letter-spacing: 0.2vh;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    color: #787775;
  }
  
  #section4 .separator {
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0.2;
  }
  
  #section4 .title {
    position: relative;
    color: #000;
    font-family: "GmarketSans";
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
  }
  
  #section4 .title .lavender {
    color: #749df0;
  }
  
  /* #section4 img {
    position: relative;
    margin-top: 5vh;
  } */
  #section4 iframe {
    position: relative;
    left: 10%;
    width: 80%;
    height: 80%;
    top: 10%;
  }
  
  /* section5 */
  #section5 {
    padding: 0px 10vw;
    height: 100vh;
  }
  #section5 .sec5 {
  }

  #section5 .headline {
    letter-spacing: 0.2vh;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    color: #787775;
  }
  
  #section5 .separator {
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0.2;
  }
  
  #section5 .title {
    display: flex;
    position: relative;
    color: #000;
    font-family: "GmarketSans";
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10vh;
  }
  
  #section5 .title h2 {
    color: #000;
  }
  
  #section5 .title .lavender {
    color: #749df0;
  }
  
  /* footer */
  #footer {
    height: 20vh;
    padding: 0px 10vw;
  }
  
  #footer .headline {
    letter-spacing: 0.2vh;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    color: #787775;
  }
  
  #footer .separator {
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0.2;
  }
  
  #footer .title {
    display: flex;
    position: relative;
    color: #000;
    font-family: "ChosunNm";
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.1;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  #footer figure {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 1vw;
    font-family: "ChosunNm";
    padding-top: 4vh;
    font-weight: 100;
  }